@import 'grid';

h2 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.header {
  height: 50px;
  border-bottom: 1px solid #dddddd;
}

.page {
  max-width: 800px;
  margin: auto;
}

.form {
  max-width: 500px;
  margin: auto;
  margin-bottom: 60px;
}

.control {
  margin-bottom: 10px;
  position: relative;

  .control_label {
    margin-bottom: 3px;
  }
  .control_field {
    position: relative;
  }
  label {
    font-family: Courier, monospace;
  }

  input, textarea {
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 16px;
    height: 38px;
    padding: 0 10px;
    width: 100%;
  }
}

.field__error {
  color: red;
  font-size: 12px;
}

.react-autosuggest__container {
  position: relative;
  background-color: #fff;
}
.react-autosuggest__suggestions-container {
  background-color: #fff;
  box-shadow: 0 0.25rem 5px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 43px;
  max-height: 190px;
  overflow: auto;
  position: absolute;
  z-index: 1;
}

.react-autosuggest__suggestions-container,
.react-autosuggest__suggestion,
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
}

.react-autosuggest__suggestions-list {
  list-style: none;
}

.react-autosuggest__suggestion {
  box-sizing: border-box;
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgba(8, 132, 252, 0.2);
}

.react-autosuggest__cant-find {
  color: blue;
}

@font-face {
  font-family: 'interbold';
  src: url('./fonts/inter-bold-webfont.woff2') format('woff2'),
       url('./fonts/inter-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intermedium';
  src: url('./fonts/inter-medium-webfont.woff2') format('woff2'),
       url('./fonts/inter-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interregular';
  src: url('./fonts/inter-regular-webfont.woff2') format('woff2'),
       url('./fonts/inter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// @font-face {
//   font-family: 'intersemi_bold';
//   src: url('./fonts/inter-semibold-webfont.woff2') format('woff2'),
//        url('./fonts/inter-semibold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

  .fat1, .fat2,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth,
  .seventh,
  .eighth,
  .ninth,
  .tenth {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s 1.5s linear forwards;
  }

  .fat1 {
    animation-delay: 3s;
  }
  .fat2 {
    animation-delay: 2s;
  }
  .sixth {
    animation-delay: 3s;
  }

  .seventh {
    animation-delay: 2s;
  }
  
  .tenth,
  .third {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }

  .ninth {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 8s 1.5s linear forwards;
  }


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}


.mb-3 {
  margin-bottom: 1.5rem !important;
}
